
<nav class = "details_plus">
  <%= form_with model: @employee do |form| %>
    First Name : <%= form.text_field :first_name  %><br>
    Last Name : <%= form.text_field :last_name  %><br>
    
    Title : <%= form.text_field :title  %><br>
    Introduction : <%= form.text_area :bio, size: "45x8"  %><br>    
<br>
<section title=".slideTwo">
    <bold>A Priv·i·leged Employee</bold>
      <input type="checkbox" value="None" id="slideTwo" name="check" checked />
      <label for="slideTwo"></label>
  </section>
  </nav>
  <nav class="details_plus">
    <%= form.label "Employee's Pic" %><br>
    <%= form.file_field :avatar %> <br>
<br>
    <%= form.submit "Continue"%>
  <% end %>
  </nav>