<nav class = "details">
  <%= form_with model: @employee do |form| %>
 <br>
    First name: <%= form.text_field :first_name  %><br>
    Last name:<%= form.text_field :last_name  %><br>
    Title:<%= form.text_field :title  %><br>
    <%= form.text_area :bio, size: "60x10" %> <br>
    <%= form.submit "Join SPBS" %>
  <% end %>
  </nav>