<nav class = "details">
     <%= @employee.first_name  %> <%= @employee.last_name  %><br>
    Title:<%= @employee.title  %><br>
    <%= @employee.bio %> <br>
    <br>
    <%=link_to "speak with #{@employee.first_name}", new_employee_appointment_path(@employee)%>  

    
  </nav>