<h2>Our Staff</h2>
<div id= "element1" >
<p><%=link_to "Janis Joplin", employee_path(1) %></p>
 <%=image_tag("X8DWrGzl_400x400.png")%>
</div>

<div id= "element2" >
<br>
<p><%=link_to "Courtney Cox", employee_path(2) %></p>
<%=image_tag("Emma-Milne-370x370.png")%>
</div>
<br>
<section>
<%=render 'employee_index'%>
</section>
<section class="details_plus">
<h2>@ small paws,</h2>
<p>
Arcu curae; vestibulum suspendisse phasellus quisque dolor ridiculus, risus felis. Nam placerat conubia purus ridiculus vitae ad tortor tellus dis neque. Ut dictumst luctus cursus sociis metus semper iaculis elit egestas porttitor morbi. Nec viverra tincidunt dictum suscipit. Fringilla velit neque vel aenean conubia curae; cursus senectus dictum cum donec etiam. Facilisis.
</p>
</section>