<% if @owner.errors.any? %>
<div id="error_explanation">
    <h2>
      Please adjust <%= pluralize(@owner.errors.count, "error") %>
      before we create your account.
    </h2>
 
    <ul>
    <% @owner.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<nav class = "details_plus">
  <%= form_with model: @owner do |form| %>
    Your Full Name : <%= form.text_field :name  %><br>
    Email Address : <%= form.text_field :email  %><br>
    Confirm Email : <%= form.text_field :email_confirmation  %><br>

    Please Provide Your Telephone Number. <%= form.text_field :telephone  %><br>

    Create A Password : <%= form.text_field :password  %><br>
    Confirm Password : <%= form.text_field :password_confirmation  %><br>
    <%= form.label "I currently have one or more dogs" %>
    <%= form.select :other_dogs, [["True"], ["False"]] %> <br>
<br>
    <small>And now, introductions!</small><br>
    <%= form.submit "Continue"%>
  <% end %>
  </nav>