<nav class = "details">
  <%= form_with model: @breed do |form| %>
      Breed Name:<%= form.select :name, [["Affenpinscher"], ["Biewer Terrier"], ["Brussels Griffon"], ["Cavalier King Charles Spaniel"], ["Chihuahua"], ["Chinese Crested"], ["English Toy Spaniel"], ["Havanese"], ["Italian Greyhound"]] %> <br>
    Hair Length:<%= form.select :hair_length, [["Short-haired"], ["Medium Length Hair"], ["Long-haired"]] %>
 <br>
    Temperment:<%= form.text_field :temperment  %><br>
    Average Height: <%= form.text_field :height  %><br>
    Average Weight:<%= form.text_field :weight  %><br>
<p>-------------------------------------------------------</p>
    <%= form.label "We will add a picture in the second step!" %><br>
    <%= form.file_field :avatar %> <br>
    <%= form.text_area :notes, size: "60x10" %> <br>
    Additional Notes <br> (max 500 words, please) <br>
    <%= form.submit "Update Database" %>
  <% end %>
  </nav>