<% if @breed.errors.any? %>
<div id="error_explanation">
    <h2>
      Please adjust <%= pluralize(@breed.errors.count, "error") %>
    </h2>
 
    <ul>
    <% @breed.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<nav class = "details">
  <%= form_with model: @breed do |form| %>
      Breed:<%= form.select :name, [["Affenpinscher"], ["Biewer Terrier"], ["Brussels Griffon"], ["Cavalier King Charles Spaniel"], ["Chihuahua"], ["Chinese Crested"], ["English Toy Spaniel"], ["Havanese"], ["Italian Greyhound"]] %> <br>
    Dogs name? <%= form.text_field :dogs_name  %><br>
      Hair Length:<%= form.select :hair_length, [["Short-haired"], ["Medium Length Hair"], ["Long-haired"]] %>
 <br>
    Temperment:<%= form.text_field :temperment  %><br>
    Average Height: <%= form.text_field :height  %><br>
    Average Weight:<%= form.text_field :weight  %><br>
<p>-------------------------------------------------------</p>
    <%= form.label "Add a picture of the dog." %><br>
    <%= form.file_field :avatar %> <br>
    <%= form.text_area :notes, size: "60x10" %> <br>
    Additional Notes <br> (max 500 words, please) <br>
    Your employee ID: <%= form.text_field :employee_id  %>
    <%= form.submit "Update Database" %>
  <% end %>
  </nav>