<header>
<h2><%= @breed.name%> </h2>
</header>
<section class="details">
    <h3>With an average height of <%= @breed.height %>,</h3>
    <h3> and weighing in at <%= @breed.weight %>,</h3>
    <h3> This <%= @breed.hair_length %> cutie </h3>
    <h3>is generally <%= @breed.temperment %></h3>
    </section>
<article>
<p><%= @breed.notes %></p>
<div class="frame">
<% if @breed.avatar.attached?%>
    <image src="<%=(url_for(@breed.avatar))%>"> 
    <% end%>
</div>
<%=link_to '<button class="profile_button" type="button">Schedule an appointment</button>'.html_safe, employees_path%></article>
<%=link_to "Add Pic / Update Info", edit_breed_path(@breed)%> 