<!DOCTYPE html>
<html>
  <head>
    <title>Pooch-eeez-mo!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
  <header>
  <h3>Tiny Paws</h3>
<br>
  <h1> Breeded Shelter </h1>
  </header>

    <%= yield %>
  </body>
  <footer class= "menu_bar">
  <%=link_to "Home", root_path%><br>

  <%=link_to "Select a breed", breeds_path%>
  <%=link_to "Add a Breed", new_breed_path%>
  <%=link_to "Meet Our Staff", employees_path%>  
<%=link_to "Testemonials", root_path%> <br>
<%=link_to "About Small Paws", about_path%>

  </footer>
</html>
