<!DOCTYPE html>
<html>
  <head>
    <title>Pooch-eeez-mo!</title>
    <%=stylesheet_link_tag 'application' %>'
  </head>

  <body>
  <header>
  <h3> The Tiny Paws</h3>
<br>
  <h1> Breeded Shelter </h1>
  </header>
  <% if current_user %>
  <li>Signed in as <%= @user.name %></li>
  <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
<% end %>
    <%= yield %>
  </body>
  <footer class= "menu_bar">
  <%=link_to "Home", root_path%><br>

  <%=link_to "Our Current Residents", breeds_path%>
  <%=link_to "Add a Breed", new_breed_path%>
  <%=link_to "Meet Our Staff", employees_path%>  
  <%=link_to "testimonials", comments_path%>  
  <%=link_to "Make an Appointment", root_path%>  


  </footer>
</html>
