<!DOCTYPE html>
<html>
  <head>
    <title>Pooch-eeez-mo!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
  <header>
  <h3>Tiny Paws</h3>
<br>
  <h1> Breeded Shelter </h1>
  </header>
  <% if current_user %>
    <h3>Signed in as <%= @owner.name %></h3>
    <small><%= link_to 'Log Out', logout_path, method: :delete %></small>
  <%else%>
    <h3>please sign in</h3>
<% end %>

    <%= yield %>
  </body>
  <footer class= "menu_bar">
  <%=link_to "Home", root_path%><br>

  <%=link_to "Select a breed", breeds_path%>
  <%=link_to "Add a Breed", new_breed_path%>
  <%=link_to "Meet Our Staff", employees_path%>  
<%=link_to "Testemonials", root_path%> <br>
<%=link_to "About Small Paws", about_path%>

  </footer>
</html>
